:root {
    --first-color: #0f172a;
    --second-color: #1e293b;
    --third-color: #94a3b8;
}

* {
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
}

body {
    height: 100vh;
    padding: 5% 2.5%;
    background-color: var(--first-color);

}

a {
    text-decoration: none;
}

.github {
    background-color: white;
    height: 7.5%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
}

.github i {
    aspect-ratio: 1;
    color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.github span {
    color: var(--first-color);
}

.search-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    height: 7.5%;
}

.search-div i {
    font-size: 125%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.search-div .search-box,
.search-div .weather-box {
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.search-div .search-box {
    width: 75%;
    height: 100%;
}

.search-div .search-box .search-logo {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-div .search-box .searchbar {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.search-div .search-box .searchbar input {
    border: none;
    height: 100%;
    width: 100%;
    background-color: var(--second-color);
    border-radius: 5px;
    outline: none;
    caret-color: white;
    color: white;
    font-size: 100%;
}



.search-div .weather-box {
    aspect-ratio: 1;
}

h1 {
    color: white;
    font-weight: 400;
    margin: 10% 0;
}

.weather-div {
    background-color: var(--second-color);
    border-radius: 10px;
    aspect-ratio: 1;
    border: solid 2px white;
    color: white;
}



.weather-div .weather-img-div {
    height: 60%;

    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    margin: 7.5% 10% 7.5% 10%;
    gap: 10%;
}



.weather-div .weather-img-div img {
    height: 50%;
    aspect-ratio: 1;

}


.temperature-cloud-condition {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

.temperature {
    font-size: 300%;

}

.cloud-condition {
    font-size: 125%;
}







.weather-div .place-time-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    padding-top: 5%;
    margin: 0% 10% 7.5% 10%;
    border-top: solid 2px white;
}


.place-time-div img {
    
    margin:0 5% 0 0;
}


.place,
.time {
    font-size: 125%;
    display: flex;
    justify-content: start;
    align-items: center;
}